$color-hover:#ff0000;
$font-size: 18px;
$primary-color:#0000ff;
$background-color: #ffc0cb;

.navbar {
    background-color: $background-color;
    ul {
        display: flex;
        gap: 30px;
        list-style: none;
        justify-content: center;
        padding-left: 0;
        
        li {
            color: $primary-color;
            font-size: $font-size;
            &:hover {
                color: $color-hover;
            }

        }
    }

}
