@import 'variables';
$widht-div: 200px;
$font-size: 18px;

.border {
    border: 1px solid #333333;
}
.navbar {
    background-color: $background-color;
    ul {
        display: flex;
        gap: 30px;
        list-style: none;
        justify-content: center;
        padding-left: 0;
        
        li {
            background-color: $bg-color-item;
            color: $primary-color;
            font-size: $font-size;
            &:hover {
                color: $color-hover;
            }
            &:last-child {
                @extend .border;

            }
        }
    }

}

.box {
 

    .one{
        width: $widht-div;
        
    }
    .two{
        
        width: calc($widht-div) / 3;
    }
}