.container {
    display: flex;
    flex-direction:column-reverse ;

}

.uno {
    width: 200px;
    height:200px;
    background-color: red;
}

.due {
    width: 200px;
    height:200px;
    background-color: blue;
}

.tre {
    background-color: black;
    width: 200px;
    height:200px;
}