p {
    color: red;
    text-align: right;
}

h1 {
    color: orange;
}

h2 {
    color: lightblue;
}

h3 {
    color: yellow;}

h4 {
    color: pink;
}

#titlecolor {
    color: lightgreen;
    background-color: blueviolet;
}

h6 {
    color:black;
}

.font{
font-size: 30px;
}
