
.div {
    padding: 100px;
    margin: 200px;
    border: 400px;;
}
li {
    display:inline-block;
}

.one {
    border: 50px; ;
    background-color: red ;
    height: 60px; ;
    width: 60px; ;
    display:inline ;
}

.two {
    border: 50px; ;
    background-color: red ;
    height: 60px; ;
    width: 60px; ;
    display:inline-block ;
}

.three {
    border: 50px; ;
    background-color: red ;
    height: 60px; ;
    width: 60px; ;
    display:block ;
}

.img img {
    float: right;
}

.clear p {
    clear: both;
}

.column  {
    column-count: 3;
    float: left;
    display: inline-block;
}

.nav {
    position: fixed;
}

.footer {
    position: fixed;
    bottom: 0;
}