*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header,nav ,section, footer {
    border: 1px solid black;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

header {
    padding: 30px;
}

nav, footer {
    padding: 20px;
}

section {
    float: left;
    padding: 15% 0;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

main section:first-child,main section:last-child {
    width: 19%;

}

main section:nth-child(2) {
    width: 60%;
    margin: 0 1%;
}

