.container {
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: center;
  

}

.uno {
    width: 200px;
    height:200px;
    background-color: red;
}

.due {
    width: 200px;
    height:200px;
    background-color: blue;
}

.tre {
    background-color: black;
    width: 200px;
    height:200px;
}