 * 
 {
    color:var(--color-text:#ff0000)
 }
 
 .rgb p {
    color:rgb(255, 0, 0);
 }

 .esadecimali p {
    color: #ff0000;
 }

.transparency p {
    color: rgba(255, 0, 0, 0.7);
}

.color p {
    color: red;
}

.square {

    width: 100px; 
    height: 100px; 
    background-color: blue;
}

.square2 {

    width: 100px;
    height: 100px;
    background-color: #ff0000;
}

.square2 div {
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.rem-em :first-child {
    font-size: 7rem;
  
}

.rem-em :last-child {
    font-size: 7em;
}

/*variabili*/
